.pager-item {
  position: relative;
  margin: 20px;
  width: 100%;
  min-height: 100px;
  padding: 10px 20px;
  background-color: rgba(25, 25, 25, 0.05);
}

.pager-item__date {
  margin: 5px 0;
  font-style: italic;
}

.pager-item__description {
  margin: 20px 0;
}

.pager-item__id {
  position: absolute;
  left: 15px;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.pager-item__id > svg {
  width: 100%;
  opacity: 0.05;
}

.pager-item__title {
  margin: 5px 0;
}
